body {
  margin: 0px;
  background-color: #283333;
}
/* start top panel styling */

.classroom-info {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border: none;
  color: white;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: 0.8rem;
  margin: 0;

  /* random ass white border around div */
  overflow: hidden;
}

.classroom-info-flexbox {
  /* display tob bar contents in a row */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  /* forces topbar text to stay in a single line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lecture-running,
.end-lecture-container,
.lecture-spectators,
.copy-link-container,
.my-boards-button-container,
.view-chat-container,
.hide-bar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.divider {
  padding: 0rem 1rem 0rem 1rem;
}

.status-dot {
  color: #2ecc40;
}

.copy-share-link {
  height: 22px;
  border: none;
  border-radius: 10% 13% 6% 16% / 21% 5% 21% 10%;
  background: #1100ff;
  color: white;
}

.end-lecture {
  height: 22px;
  border: none;
  border-radius: 10% 13% 6% 16% / 21% 5% 21% 10%;
  background: #ff4136;
  color: white;
}

.my-boards-button {
  text-decoration: none;
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  border: none;
  border-radius: 2px;

  outline: none;
  width: 120px;
  height: 25px;
  text-align: center;
  margin: auto;
  transition: 1.5s;
}

.view-chat-button,
.hide-bar-button {
  text-decoration: none;
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  border: none;
  border-radius: 2px;

  outline: none;
  width: 120px;
  height: 25px;
  text-align: center;
  margin: auto;
  transition: 1.5s;
}

@media only screen and (max-width: 1200px) {
  .classroom-info {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 800px) {
  .lecture-running-text,
  .spectators-count-text,
  .end-lecture-text,
  .copy-link-text {
    display: none;
  }
}

/* end top panel styling */

.canvas {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.toolbox {
  height: 100%;
  position: absolute;
  background-color: #3a4b4b;
  z-index: 10;
}
/* Everything related to the images in the left toolbox*/
.toolbox .group {
  border-bottom: thin solid gray;
}

.toolbox .group .item {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.toolbox .group .item:hover,
.toolbox .group .item.active {
  background-color: #4b6161;
  cursor: crosshair;
}

.toolbox .group .item img {
  width: 100%;
}

.toolbox .group.linewidths .item {
  position: relative;
}

.toolbox .group.linewidths .item .linewidth {
  position: absolute;
  background-color: white;
  border-radius: 50%; /* make the borders round*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toolbox.left {
  left: 0px;
  top: 0px;
}

/*Everything related to the right toolbox*/
.toolbox.right {
  right: 0px;
  top: 0px;
}

.toolbox .group.swatches .item .swatch {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

/* start right side-bar */

:root {
  font-size: 16px;
  font-family: "Muli", sans-serif, "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.hide-options-right {
  /* display button */
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  background-color: var(--bg-primary);
  color: white;
  transition: 1s;
}

.hide-options-right:focus {
  transition: 1s;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  outline: none;
}

.hide-options-right i {
  font-size: 1.1rem;
}

.right-bar {
  position: absolute; /* fixed */
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  scrollbar-color: transparent;
  top: 0;
  right: 0;
  width: 4.2rem;
  height: auto;
  max-height: 80vh;
  margin-top: 75px;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.right-bar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.right-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* start right sidebar colors */
.right-bar-link {
  transition: 1s;
}

.white {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.red {
  width: 25px;
  height: 25px;
  background-color: #ff4136;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.blue {
  width: 25px;
  height: 25px;
  background-color: #0074d9;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.lime {
  width: 25px;
  height: 25px;
  background-color: #01ff70;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.purple {
  width: 25px;
  height: 25px;
  background-color: #b10dc9;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.right-bar-link:hover,
.right-bar-link:focus {
  transform: scale(1.25);
  transition: 1s;
  width: 100%;
  filter: grayscale(0%) opacity(1);
}
/* end sidebar colors */

.right-bar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* random ass white border around div */
  overflow: hidden;
  /* */
}

/* .nav-item:last-child { shifts last child to bottom of side
    margin-top: auto;
  } */

.right-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(50%) opacity(0.5);
  transition: var(--transition-speed);
}

/* @media only screen and (max-width: 600px) {
    .right-bar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .right-bar-nav {
      flex-direction: row;
    }
  
    .right-bar-link {
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .right-bar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  } */

/* end right side-bar */

/* start left side-bar */

.hide-options-left {
  /* display button */
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  background-color: var(--bg-primary);
  color: white;
  transition: 1s;
}

.hide-options-left:focus {
  transition: 1s;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  outline: none;
}

.hide-options-left i {
  font-size: 1.1rem;
}

.left-bar {
  position: absolute; /* fixed */
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  margin: 0px;
  top: 0;
  left: 0;
  width: 4.2rem;
  border: none;
  outline: none;
  margin-top: 75px;
  border-bottom-right-radius: 27px;
  border-top-right-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.left-bar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.left-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* start right sidebar colors */
.left-bar-link {
  transition: 1s;
}

.left-bar-link:hover,
.left-bar-link:focus {
  transform: scale(1.25);
  transition: 1s;
  width: 100%;
  color: white;
  filter: grayscale(0%) opacity(1);
}
/* end sidebar colors */

.left-bar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* .nav-item:last-child { shifts last child to bottom of side
    margin-top: auto;
  } */

.left-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(50%) opacity(0.5);
  transition: var(--transition-speed);
}

/* @media only screen and (max-width: 600px) {
    .right-bar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .right-bar-nav {
      flex-direction: row;
    }
  
    .right-bar-link {
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .right-bar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  } */

/* end right side-bar */

/* start dropdown button */

.show-bar-button-container {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition-delay: 1s;
  width: 200px;
  color: white;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: 0.8rem;
  text-align: center;
}

.show-bar-button {
  margin: 1rem;

  text-decoration: none;
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  border: none;
  border-radius: 2px;

  outline: none;
  width: 120px;
  height: 25px;
  transition: 1.5s;
}

.show-bar-button i {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
