body {
  margin: 0px;
  background-color: #283333;
  overflow: hidden;
  max-width: 100vh;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}
/* start top panel styling */

.classroom-info {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border: none;
  color: white;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: 0.8rem;
  margin: 0;

  /* random ass white border around div */
  overflow: hidden;
}

/* Chat menu */

/* Wrapper for button and messages */
div.messages {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 1000;
}

/* Trigger collapsible button */
.collapsible {
    min-width: 200px;
    max-width: 200px;
    background-color: lightgray;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active-chat:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Container for messages */
.message-container {
    padding: 0 18px;
    background-color: white;
    min-width: 200px;
    max-width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.classroom-info-flexbox {
  /* display tob bar contents in a row */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  /* forces topbar text to stay in a single line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.sharelink-info-icon {
  font-size: 1.25em;
  position: relative;
  bottom: 2px;
  color: #46c2ff;
  background: linear-gradient(to right, #bd11fa 0%, #46c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-info-icon {
  font-size: 1.35em;
  position: relative;
  bottom: 0.5px;
  color: #46c2ff;
  background: linear-gradient(to right, #46c2ff 0%, #cdeaf8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



#info-popup{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 75px;
  padding: 7.5px 10px;
  font-size: 0.75em;
  background-color: #21212e;
  color: #fafafa;
  font-weight: 600;
  opacity: 0.9;
  display: none;
  border-radius: 0 0 0.25em 0.25em;
  z-index: 10;
}

.end-lecture-icon {
  font-size: 1.333em;
  position: relative;
  bottom: 1.7px;
  color: #ef5350;
}

.chat-button-container > span > span {
  position: relative;
  bottom: 2px;
}

.chat-button-container,
.my-boards-button-container,
.end-lecture-container,
.copy-link-container {
  opacity: 0.8;
  transition: 0.4s ease;
  cursor: pointer;
}

.chat-button-container:hover,
.my-boards-button-container:hover,
.end-lecture-container:hover,
.copy-link-container:hover {
  opacity: 1;
}

.lecture-running,
.end-lecture-container,
.lecture-spectators,
.copy-link-container,
.my-boards-button-container,
.view-chat-container,
.chat-button-container,
.hide-bar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.my-boards-button-container > img {
  height: 22.5px;
}

.divider {
  padding: 0rem 1rem 0rem 1rem;
}

.status-dot {
  color: #2ecc40;
}

.copy-share-link {
  height: 22px;
  border: none;
  border-radius: 10% 13% 6% 16% / 21% 5% 21% 10%;
  background: #1100ff;
  color: white;
}

.end-lecture {
  height: 22px;
  border: none;
  border-radius: 10% 13% 6% 16% / 21% 5% 21% 10%;
  background: #ff4136;
  color: white;
}

.my-boards-button {
  text-decoration: none;
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  border: none;
  border-radius: 2px;

  outline: none;
  width: 120px;
  height: 25px;
  text-align: center;
  margin: auto;
  transition: 1.5s;
}

@media only screen and (max-width: 1200px) {
  .classroom-info {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 800px) {
  .lecture-running-text,
  .spectators-count-text,
  .end-lecture-text,
  .copy-link-text {
    display: none;
  }
}

/* end top panel styling */

.back-to-tool-menu{
  height:2.75rem !important;
}

.linewidth {
  background-color: white;
  border-radius: 50%; /* make the borders round*/
}

.toolbox.left {
  left: 0px;
  top: 0px;
}

/*Everything related to the right toolbox*/
.toolbox.right {
  right: 0px;
  top: 0px;
}

.toolbox .group.swatches .item .swatch {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

/* start right side-bar */

:root {
  font-size: 16px;
  font-family: "Muli", sans-serif, "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.hide-options-right {
  /* display button */
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  background-color: var(--bg-primary);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  transition: 1s;
}

.hide-options-right:focus {
  transition: 1s;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  outline: none;
}

.hide-options-right i {
  font-size: 1.1rem;
}

button {
  cursor: pointer;
}

.right-bar {
  position: absolute; /* fixed */
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
  z-index: 5;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  scrollbar-color: transparent;
  top: 0;
  right: 0;
  width: 4.2rem;
  height: auto;
  max-height: 80vh;
  margin-top: 75px;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  /* hide bar when initially opening whiteboard */
  display: none;
}

.right-bar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.right-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* start right sidebar colors */
.right-bar-link {
  transition: 1s;
  cursor: pointer;
}

.black {
  width: 25px;
  height: 25px;
  background-color: #424242;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.red {
  width: 25px;
  height: 25px;
  background-color: #ff4136;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.blue {
  width: 25px;
  height: 25px;
  background-color: #0074d9;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.lime {
  width: 25px;
  height: 25px;
  background-color: #01ff70;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.purple {
  width: 25px;
  height: 25px;
  background-color: #b10dc9;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  margin: auto;
}

.right-bar-link:hover,
.right-bar-link:focus {
  transform: scale(1.25);
  transition: 1s;
  width: 100%;
  filter: grayscale(0%) opacity(1);
}
/* end sidebar colors */

.right-bar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

/* .nav-item:last-child { shifts last child to bottom of side
    margin-top: auto;
  } */

.right-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(50%) opacity(0.5);
  transition: var(--transition-speed);
}

@media only screen and (max-height: 600px){
  .right-bar{
    overflow-y: scroll;
  }
}


@media only screen and (max-width: 600px) {
  /* .right-bar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .right-bar-nav {
      flex-direction: row;
    }
  
    .right-bar-link {
      justify-content: center;
    } */
  .divider {
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
/* 
  @media only screen and (min-width: 600px) {
    .right-bar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  } */

/* end right side-bar */

/* start left side-bar */

.hide-options-left {
  /* display button */
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 20% 30% 23% 70% / 40% 80% 20% 33%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: var(--bg-primary);
  color: white;
  transition: 1s;
}

.hide-options-left:focus {
  transition: 1s;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  outline: none;
}

.hide-options-left i {
  font-size: 1.1rem;
}

.left-bar {
  position: absolute; /* fixed */
  z-index: 5;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  margin: 0px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 4.2rem;
  border: none;
  outline: none;
  margin-top: 75px;
  border-bottom-right-radius: 27px;
  border-top-right-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  /* hide bar when initially opening whiteboard */
  display: none;
}

.left-bar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.left-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.left-bar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* start right sidebar colors */

.left-bar-link:hover,
.left-bar-link:focus {
  transform: scale(1.25);
  transition: 1s;
  width: 100%;
  color: white;
  filter: grayscale(0%) opacity(1);
}

/* end sidebar colors */

/* .nav-item:last-child { shifts last child to bottom of side
    margin-top: auto;
  } */

.left-bar-link {
  transition: 1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(50%) opacity(0.5);
  transition: var(--transition-speed);
}

.tool-active{
  transform: scale(1.25);
  transition: 1s;
  width: 100%;
  color: white;
  filter: grayscale(0%) opacity(1);
}

.selected-area-img{
  position: absolute;
  z-index: 1;
  border: 2px dashed rgb(172, 172, 172);
  cursor: grab;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tool-active-svg{
  filter: grayscale(100%) opacity(1) !important;
}

.tool-active-svg > img{
  filter:  invert(100%) !important;
  transform: scale(1.15) !important;
}

.left-bar-link-svg{
  transition: 1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(50%) opacity(0.5);
  transition: var(--transition-speed);
}

.left-bar-link-svg > img{
  height: 20px;
  filter: invert(45%);
  transition: 1s;
}

/* start canvas toggle bar */

.canvas-toggle-bar {
  position: absolute;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  bottom: 0;
  left: 0;
  border: none;
  outline: none;
  border-top-right-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: auto;
  max-width: 45%;
  height: auto;
  padding: none;
  margin: none;
  overflow: hidden;
  z-index:11;
}

.boards-view-title{
  display:none;
  position: absolute;
  bottom: 5.15rem;
  left: -7.5px;
  color: var(--bg-primary);
  font-weight: 700;
  font-size: 1rem;
  padding: 0px 10px;
  z-index:20;
}

.canvas-toggle-bar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.canvas-toggle-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#canvas-toggle-left {
  display: none;
}

#canvas-toggle-right {
  display: none;
}

/* start right sidebar colors */
.canvas-toggle-link {
  transition: 1s;
  padding: 0.05rem 2.5rem;
  position: relative;
}

/* end sidebar colors */

.canvas-toggle-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}

/* .nav-item:last-child { shifts last child to bottom of side
    margin-top: auto;
  } */

.canvas-toggle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  /* filter: grayscale(50%) opacity(0.5); */
  transition: var(--transition-speed);
}

.canvas-toggle-link img {
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s ease;
  opacity: 0.75;
}

.canvas-toggle-link img:hover{
  opacity: 1;
  transform: scale(1.15);
}

/* end canvas toggle bar */

.menu-thickness-svg,
.left-bar-link-svg:hover{
  filter: grayscale(100%) opacity(1);
}

.left-bar-link-svg:hover img{
  filter:  invert(100%);
  transform: scale(1.15);
}

.menu-thickness-svg{
  height: 17.5px !important;
  filter: invert(45%);
  transition: 1s;
}

.menu-shapes-svg {
  height: 23px !important;
  filter: invert(45%);
  transition: 1s;
}

.menu-thickness-svg:hover,
.menu-thickness-svg:focus {
  filter: invert(100%);
  transform: scale(1.05) !important;
}

.menu-shapes-svg:hover,
.menu-shapes-svg:focus {
  filter: invert(100%);
  transform: scale(1) !important;
}

.left-bar-link > img:hover,
.left-bar-link > img:focus {
  filter: invert(100%);
  transform: scale(1.15);
}

#right-bar-thickness,
#right-bar-shapes,
#right-bar-colors {
  display: none;
}

/* @media only screen and (max-width: 600px) {
    .right-bar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .right-bar-nav {
      flex-direction: row;
    }
  
    .right-bar-link {
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .right-bar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  } */

/* end right side-bar */

/* start dropdown button */

.show-bar-button,
.hide-bar-button {
  text-decoration: none;
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  opacity: 0.85;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.show-bar-button:hover,
.hide-bar-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 1;
  transform: translateY(-1.5px);
}

.show-bar-button-container {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition-delay: 1s;
  width: 150px;
  color: white;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
}

.show-bar-button i {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* TESTING MODAL STYLING */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--bg-primary);
  margin: auto;
  padding: 20px;
  width: 70%;
  max-height: 100rem;
  overflow-y: scroll;
  border-radius: 10px;
  animation: fadein 0.7s;

  /* Modal shadow */
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#modal-content-header {
  color: white;
  text-align: center;
}

#modal-image {
  max-height: 80%;
  max-width: 50%;

  /* center image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 1rem 0rem;
}

#modal-buttons-container > button {
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(
    135deg,
    rgba(70, 194, 255, 1) 0%,
    rgba(189, 31, 250, 1) 100%
  );
  border: none;
  border-radius: 2px;
  width: 140px;
  height: 40px;
  transition: 1.5s;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

#modal-close-button {
  margin-right: 1.5rem;
}

#modal-select-button {
  margin-left: 1.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.scroll-boards-view-left,
.scroll-boards-view-right{
  position: absolute;
  height: 100%;
  background-color: var(--bg-primary);
  outline: none;
  border: none;
  z-index: 4;
  display:none;
}

.scroll-boards-view-left i,
.scroll-boards-view-right i{
  opacity: 0.75;
  transition: 0.4s ease;
  color: white;
}

.scroll-boards-view-left{
  left:0;
}

.scroll-boards-view-right{
  top: 0;
  right:0;
}

.scroll-boards-view-left:hover i,
.scroll-boards-view-right:hover i{
  opacity: 1;
}

.badge{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding:2px 6px;
  color: white;
  margin: auto;
  font-weight: 500;
  font-size: .75rem;
  border-radius: 0 0 2.5px 0;
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  border-bottom: 0.25px solid lightgray;
  border-right: 0.25px solid lightgray;
}