body {
    background-color: #21212e;
    height: 100vh;
    position: relative;
  }

/* Chat menu */
* {
    font-family: 'Open Sans', 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif, sans-serif;
    padding: 0;
    margin: 0;
  }

/* Wrapper for button and messages */
div.messages {
    position: fixed;
    bottom: 0;
    left: 50px;
    z-index: 1000;
}

/* Trigger collapsible button */
.collapsible {
    min-width: 200px;
    max-width: 200px;
    background-color: aqua;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Container for messages */
.spectator-message-container {
    padding: 0 18px;
    background-color: white;
    min-width: 200px;
    max-width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Row of message */
div.message-container > tr {
    margin-left: 10px;
    background-color: green;
}

/* Text element */
div.message-container > tr > td {
    padding-left: 10px;
}

.lecture-container{
    background-image: url(/Guestlecturepage–background.png);
    /* min-height: 100vh; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleBoard{
    background-color:#21212e;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    height: 70px;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
    font-family: "Muli", sans-serif, "Open Sans";
  }

  .lecture-top-bar {
    background-color:#21212e;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    height: 70px;

    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-icon {
      width: 30px;
      height: 30px;
  }
  
  .nav-Text {
    font-size: 14px;
    /* font-weight: bold; */
    color: white;
    font-family: "Muli", sans-serif, "Open Sans";
    margin-right: 30px;
    margin-left: 5px;
  }

  .video {
    height: 600px;
    width: auto;
  }

  .audio{
    position: absolute;
    width: 20px;
    right: 10px;
  }

  .audio:focus {
    outline: none;
  }

  .mid {
      width: 100%;
      display: flex;
      direction: column;
  }

  .spectators {
    margin: -300px 0px auto auto;
    width: 200px;
    height: 70px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    color: white;
  }

  .specs {
      margin-left: 30px;
  }
  
/* Wrapper for button and messages */
div.messages {
    /* display: none; */
    position: fixed;
    bottom: 0;
    right: 80px;
    z-index: 7;
    width: 260px;
    height: 30px;
    transition: 0.25s ease;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  div.messages.active-chat{
    height: 300px;
  }
  
  #toggle-messages {
    height: 30px;
    width: 100%;
    background-color: var(--bg-primary);
    border: none;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    position: relative;
    z-index: 6;
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  #toggle-messages > div{ 
    display: flex; 
    background-color: var(--bg-primary);
    justify-content: space-between;
    padding: 3.5px 7px 0px 7px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .close-chat{
    color: rgba(255,255,255,0.92);
    opacity: 0.8;
    position: relative;
    top: 4px;
    cursor: pointer;
    transition: .25s ease;
  }
  
  .close-chat:hover{
    opacity:1;
    transform: translateY(-1.5px);
  }
  
  .messages-main{
    position: relative;
    height: 240px;
    overflow: hidden;
    padding: 0px 7.5px;
    background: white;
  }
  
  .message-lecture-name{
    opacity: 0.4;
    font-weight: 800;
    font-size: 1em;
    text-align: center;
  }
  
  .message-lecture-name > span{
    position: relative;
    bottom: 2.5px;
    left: -10px;
  }
  
  
  .message-container {
    position: absolute;
    bottom: 0;
    max-height: 240px;
    overflow-y: auto;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  
  #send-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #message-input {
    width: 175px;
    position: relative;
    left: -3px;
    border-radius: 2px;
  }
  
  #send-button {
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    outline: none;
    border: none;
  }
  
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  
  .inputfile + label {
  
    display: inline-block;
  }
  
  .inputfile + label {
      cursor: pointer; /* "hand" cursor */
  }
  
  .inputfile + label * {
      pointer-events: none;
  }
  
  .fileinput::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .chat-title-wrap{
    display:flex;
    justify-content: flex-start;
  }
  
  .chat-title{
    font-size: .9rem;
    font-weight: 500;
    position: relative;
    top: 3px;
    left: 7px;
  }
  
  .new-messages-badge{
    height: 20px;
    width: 20px;
    font-size: 10px;
    background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
    flex:1;
    position: relative;
    top:1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .share {
    position: relative;
      width: 250px;
    margin: 40px 0;
    text-align: center;
    left:-100px;
  }

  .videoContainer {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
  }
  
  .pages {
    width: 100px;
    max-height: 600px;
    height: 600px;
    
    background-color:#21212e;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
  }

  .chat {
    width: 100px;
    height: 600px;
    
    background-color:#21212e;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  }

  .scroll-button {
    position: absolute;
    background: linear-gradient(
      135deg,
      rgba(70, 194, 255, 1) 0%,
      rgba(189, 31, 250, 1) 100%
    );
    transition: width 600ms ease;
    border: none;
    /* outline: none; */
    
    width: 100px;
    height: 50px;
    padding: none;
    margin: none;

    cursor: pointer;
  }

  .scroll-up {
    top: 0;
  }

  .scroll-down {
    bottom: 0;
  }

  .page-list {
    position: absolute;
    top: 10;
    height: 500px;
    width: 100px;
    overflow: auto; /* Hide scrollbars */
  }

  .pages-img {
    padding-top: 23px;
    padding: 5px;
    height: auto;
    width: 80px;
    
  }
  /* The Modal (background) */
.login-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  margin: 0 auto;
  top: 50%;
  left: 50%;/*put in the center*/
  transform: translate(-50%, -50%);
  
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  
}

/* Modal Content */
.login-modal-content {
  display: block;/* default */
  background-color: var(--bg-primary);
  margin: auto;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  max-height: 75%;
  width: 75%;
  border-radius: 10px;
  animation: fadein 0.7s;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

:root {
  font-size: 16px;
  font-family: 'Muli', sans-serif, 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.modal-main-content{
  margin: 30px;
}

#modal-content-header {
  color: white;
  text-align: center;
  font-size: calc(35px + 1.5vw);
  position: relative;
  left: 4px;
  margin: 0 !important;
}

.details-header{
  color: white;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
}

.note-header{
  color: grey;
  text-align: left;
  font-size: 13px;
}

#modal-image {
  max-height: 80%;
  max-width: 50%;

  /* center image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#modal-buttons-container {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  left: 50%;
  top: 70px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.live-button{
  margin: 10px;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(70, 194, 255, 1) 0%,
    rgba(189, 31, 250, 1) 100%
  );
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;
  border-radius: 40px;
  max-width: 280px;
  min-width: 200px;
  width: 30vw;
  max-height: 65px;
  height: calc(47.5px + 2vw);
  min-height: 50px;
  transition: .4s ease;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.live-button:hover{
  transform: scale(1.05);
}

.test-mic{
  position: relative;
  top: 0px;
  left: 2px;
  color:white;
}

.test-mic-container{
  opacity: 0.8;
  transition: 0.4s ease;
  cursor: pointer;
  width: 100px;
}

.test-mic-container:hover{
  opacity: 1;
}

.test-mic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.mic-button{
  width: 160px;
}

.cog{
  color: rgb(83, 81, 81);
}

.test-mic{
  position: relative;
  top: 0px;
  left: 2px;
  color:white; 
}

.go-back-modal{
  position: relative;
  top: 0px;
  left: 2px;
  color:white;
}

.student-details-container{
  padding-top: 30px;
  padding-bottom: 20px;
}

.inputText{
  color: white;
  float: left;
  font-size: 18px;
  margin-left: 30px;
}

.create-lecture-inputs{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 40px;
}

.inputBox{
  float: right;
  border-radius: 25px;
  margin-left: 20px;
  padding-right: 20px;
  width: 60%;
  height: 30px;
  border-color: white;
  box-shadow: 0px 0px 0px 0px white;
  text-indent: 10px;
  font-size: 18px;
  outline: none;
}

.invalid-name{
  position: absolute;
  opacity: 0;
  transition: .6s ease;
  display: inline-block;
  color: rgb(255, 95, 95);
  left: 57%;
  transform: translateX(-50%);
  font-size: .9em;
  width: 100%;
  bottom: -20px;
}

@media only screen and (max-width: 720px) {
  .create-lecture-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0px;
    align-items: center;
  }

  .inputBox{
    margin-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: unset;
    margin-top: 10px;
    width: 300px;
  }
  .inputText{
    float: unset;
    display: flex;
    align-items: center;
    margin-left: 0px;
  }

  #modal-content-header{
    font-size: calc(30px + 1.5vw);
  }

  .invalid-name{
    width: 120%;
    left: 57%;
  }
  
}
 
@media only screen and (max-width: 600px) {
  
  #modal-content-header{
    font-size: calc(22px + 1.5vw);
  }

  #modal-buttons-container{
    top: 50px;
  }

  .details-header{
    font-size: 18px;
  }
  
  .live-button{
    font-size: 1.2rem;
  }

  .invalid-name{
    bottom: -20px;
  }
}

@media only screen and (max-width: 400px) {
  
  .details-header{
    font-size: 18px;
  }
  
}
