body {
    background-color: #21212e;
    height: 100vh;
    position: relative;
  }

/* Chat menu */
* {
    font-family: 'Open Sans', 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif, sans-serif;
    padding: 0;
    margin: 0;
  }

.page-list::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.page-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.page-list::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 20px;
}

/* Handle on hover */
.page-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spectators-icon{
  filter: invert(100%);
}

.lecture-content{
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBoard{
  position: relative;
  background-color:#21212e;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  margin: 20px 40px 120px 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-circle{
  position: absolute;
  top:-20px;
  z-index:1;
  height: 70px;
  left: -25px;
}

.top-logo-bar{
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
}

.top-logo-bar a{
  padding: 5px 10px;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px .5px rgba(0,0,0,0.75);
  text-decoration: none;
}

.top-logo-bar img{
  height: 30px;
  position: relative;
  top:2px;
}

.title-triangle{
  position: absolute;
  height: 62px;
  bottom:-20px;
  z-index:1;
  right: -25px;
}

.title {
  font-size: 30px;
  color: white;
  font-family: "Muli", sans-serif, "Open Sans";
}

.status-dot{
  border-radius: 50%;
  height: 17.5px;
  width: 17.5px;
}

.status-text{
  font-size: 14px;
  position: relative;
  top: 0px;
  color: white;
  font-family: "Muli", sans-serif, "Open Sans";
  margin-left: 7.5px;
}


.lecture-top-bar {
  background-color:#21212e;
  border-radius:5px 5px 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -65px;
  box-shadow: 0px 0px 5px .5px rgba(0,0,0,0.75);
  z-index: 1;
  padding: 10px;
  left: 0;
  height: 65px;
}

.lecture-top-bar > div{
  cursor: pointer;
  opacity: 0.8;
  margin: 0 7.5px;
  display: flex;
  flex-direction: row;
  transition: 0.4s ease;
}

.lecture-top-bar > div:last-child,
.lecture-top-bar > div:first-child{
  cursor: default;
  opacity: 1;
}

.lecture-top-bar > div:hover{
  opacity: 1;
}

.nav-icon {
    width: 30px;
    height: 30px;      
}

.nav-Text {
  font-size: 14px;
  position: relative;
  top: 6px;
  color: white;
  font-family: "Muli", sans-serif, "Open Sans";
  margin-left: 5px;
}

.audio{
  position: absolute;
  width: 20px;
  right: 10px;
}

.audio:focus {
  outline: none;
}

.mid {
    width: 100%;
    display: flex;
    direction: column;
}

.spectators {
  margin: -300px 0px auto auto;
  width: 200px;
  height: 70px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  color: white;
}

.specs {
    margin-left: 30px;
}

.spin-ring{
  border-radius: 50%;
  border-top: 1px;
}

.share {
  position: relative;
  width: 250px;
  margin: 40px 0;
  text-align: center;
  left:-100px;
}

.main-stream-container{
  position: relative;
}

video.whiteboard{
  height: 350px;
  min-width: 300px;
  border-radius: 0px 0px 0px .25em;
}

.videoContainer {
  position:relative;
  display: flex;
  margin: 0 30px 30px 30px;
  height:auto;
  width: auto;
  border-radius:10px;
}

.page-list {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.pages {
  position: relative;
  border-radius: 0px 10px 10px 0;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

@media only screen and (max-width: 1060px) {
  video.whiteboard{
    height: 290px;
  }

  div.message-container{
    max-height: calc(290px - 35px);
  }

  .videoContainer{
    margin: 0 3px 30px 3px;
  }
  .page-list{
    max-height: 290px;
  }

}

@media only screen and (max-width: 850px) {
  video.whiteboard{
    height: 230px;
  }

  div.message-container{
    max-height: calc(230px - 35px);
  }

  span.nav-Text{
    font-size: .75rem;
  }

  .page-list{
    max-height: 230px;
  }
}

@media only screen and (max-width: 730px) {
  video.whiteboard{
    height: auto;
    width: 95%;
    border-radius: .25rem .25rem 0 0;
  }

  div.options-menu{
    display: none;
  }

  #chat-view,
  #boards-view{
    display: flex !important;
    width: 100% !important;
  }

  div.message-container{
    max-height: calc(auto - 35px);
  }

  div.connect-on-phone{
    display: none;
  }

  .lecture-top-bar{
    left:50%;
    transform: translateX(-50%);
  }

  div.page-list{
    max-height: auto;
    flex-direction: row;
    align-self: center;
    text-align: center;
    background-color: #3c3c53;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    max-width: 92.2vw;
    overflow-y: hidden;
    overflow-x: auto; 
    margin: 0 auto;
  }

  span.nav-Text{
    font-size: .68rem;
  }
  img.nav-icon{
    height: 25px;
  }

  .videoContainer{
    flex-direction: column;
  }

}

.page-list img {
  border-radius: 16px;
  cursor: pointer;
  transition: 0.25s ease;
  opacity: 0.75;
  padding: .6rem 1rem;
  width: 130px;  
}

.page-list img:hover {
  opacity: 1;
  transform: scaleX(1.05);
}

.chat {
  max-width: 310px;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  border-radius: 0px 10px 10px 0;
}

.active-menu-item{
  width: 100% !important;
  background-color:#3c3c53;
}

.active-menu-item-button{
  background-color:#3c3c53;
}

.options-menu{
  background-color:#21212e;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  width: auto;
}

.menu-borders{
  border-radius: 0px 10px 10px 0px;
}

.boards-button-container,
.chat-button-container{
  padding: 7.5px;
  border-bottom: .5px solid lightgray;
  text-align: center;
  cursor: pointer;
  transition: .25s ease;
}

.boards-button-container img{
  height: 35px;
  position: relative;
  top: 3px;
  transition: inherit;
}

.chat-button-container i:hover,
.boards-button-container img:hover{
  transform: rotate(-10deg) translateY(-2px);
}

.chat-button-container i{
  transition: inherit;
  font-size: 30px;
  color: #46c2ff;
  background: linear-gradient(to right, #46c2ff 0%, #cdeaf8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  /* The Modal (background) */
.login-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  margin: 0 auto;
  top: 50%;
  left: 50%;/*put in the center*/
  transform: translate(-50%, -50%);
  
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  
}

/* Modal Content */
.login-modal-content {
  display: block;/* default */
  background-color: var(--bg-primary);
  margin: auto;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  max-height: 75%;
  width: 75%;
  border-radius: 10px;
  animation: fadein 0.7s;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

:root {
  font-size: 16px;
  font-family: 'Muli', sans-serif, 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.modal-main-content{
  margin: 30px;
}

#modal-content-header {
  color: white;
  text-align: center;
  font-size: calc(35px + 1.5vw);
  position: relative;
  left: 4px;
  margin: 0 !important;
}

.details-header{
  color: white;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
}

.note-header{
  color: grey;
  text-align: left;
  font-size: 13px;
}

#modal-image {
  max-height: 80%;
  max-width: 50%;

  /* center image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#modal-buttons-container {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  left: 50%;
  top: 70px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.live-button{
  margin: 10px;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(70, 194, 255, 1) 0%,
    rgba(189, 31, 250, 1) 100%
  );
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;
  border-radius: 40px;
  max-width: 280px;
  min-width: 200px;
  width: 30vw;
  max-height: 65px;
  height: calc(47.5px + 2vw);
  min-height: 50px;
  transition: .4s ease;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.live-button:hover{
  transform: scale(1.05);
}

.test-mic{
  position: relative;
  top: 0px;
  left: 2px;
  color:white;
}

.test-mic-container{
  opacity: 0.8;
  transition: 0.4s ease;
  cursor: pointer;
  width: 100px;
}

.test-mic-container:hover{
  opacity: 1;
}

.test-mic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.mic-button{
  width: 160px;
}

.cog{
  color: rgb(83, 81, 81);
}

.test-mic{
  position: relative;
  top: 0px;
  left: 2px;
  color:white; 
}

.go-back-modal{
  position: relative;
  top: 0px;
  left: 2px;
  color:white;
}

.student-details-container{
  padding-top: 30px;
  padding-bottom: 20px;
}

.inputText{
  color: white;
  float: left;
  font-size: 18px;
  margin-left: 30px;
}

.create-lecture-inputs{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 40px;
}

.inputBox{
  float: right;
  border-radius: 25px;
  margin-left: 20px;
  padding-right: 20px;
  width: 60%;
  height: 30px;
  border-color: white;
  box-shadow: 0px 0px 0px 0px white;
  text-indent: 10px;
  font-size: 18px;
  outline: none;
}

.invalid-name{
  position: absolute;
  opacity: 0;
  transition: .6s ease;
  display: inline-block;
  color: rgb(255, 95, 95);
  left: 57%;
  transform: translateX(-50%);
  font-size: .9em;
  width: 100%;
  bottom: -20px;
}

@media only screen and (max-width: 720px) {
  .create-lecture-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0px;
    align-items: center;
  }



  .inputBox{
    margin-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: unset;
    margin-top: 10px;
    width: 300px;
  }
  .inputText{
    float: unset;
    display: flex;
    align-items: center;
    margin-left: 0px;
  }

  #modal-content-header{
    font-size: calc(30px + 1.5vw);
  }

  .invalid-name{
    width: 120%;
    left: 57%;
  }
  
}
 
@media only screen and (max-width: 600px) {
  
  #modal-content-header{
    font-size: calc(22px + 1.5vw);
  }

  #modal-buttons-container{
    top: 50px;
  }

  .details-header{
    font-size: 18px;
  }
  
  .live-button{
    font-size: 1.2rem;
  }

  .invalid-name{
    bottom: -20px;
  }
}

@media only screen and (max-width: 400px) {
  
  .details-header{
    font-size: 18px;
  }
  
}

/*Start of the Chat*/


/* Container for messages */
.messages-main{
    position: relative;
    height: calc(100% - 32px);
    overflow: hidden;
    padding: 0px;
    display: flex;
}

/* Row of message */
div.message-container > tr {
    margin-left: 10px;
    background-color: green;
}

/* Text element */
div.message-container > tr > td {
    padding-left: 10px;
}

.incoming-message{
  margin-bottom: 8px;
  
}

.outgoing-message{
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
}

.message-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6px;
  border: none;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 0.25em;
  max-width: 238px;
  overflow: auto;
  transition: 0.4s ease;
}

.out{
  background: #00EC98;
  width: auto;
  color: rgba(33,33,46, 1);
}

.in{
  padding: 6px;
  border: none;
  background: rgba(70, 194, 255, 0.9);
  width: auto;
  color: rgba(33,33,46, 1);
}

.message-text{
  color:rgb(218, 218, 218);
}

/* Wrapper for button and messages */
div.messages {
  /* display: none; */
  position: relative;
  bottom:0px;
  z-index: 7;
  width: 260px;
  height: 30px;
  transition: 0.25s ease;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

div.messages.active-chat{
  height: 300px;
}
  
.message-container {
  position: absolute;
  max-height: calc(350px - 35px);
  bottom: 0;
  overflow-y: auto;
  word-wrap: break-word;
  margin: auto;
  width: 100%;
}

/*send container*/

#send-container {
display: flex;
justify-content: space-evenly;
align-items: center;
position: relative;
height: 35px;
top: -3px;
flex: 1;
background-color: rgb(53, 53, 73);
}

#message-input {
  height: 30px;
  position: relative;
  left: -3px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(83, 83, 83);
  padding: 4px 9px; 
  width: 75%;
  outline: none;
  background-color: rgb(53, 53, 73);
  color: lightgray;
}

.paperclip,
.send-icon,
.close-preview{
  color: rgb(94, 94, 94)!important;
}

#send-button {
  width: 21px;
  height: 21px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  background-color: rgb(158, 158, 158);
  transition: 0.25s;
  cursor: pointer;
  border: 1px solid rgb(158, 158, 158);
}

#send-button:hover{
  transform: translateY(-2px);
}

#send-button i{
  position: relative;
  left: 1px;
}

#send-wrapper{
  display: flex;
}

#file-input{
  display: none;
}

.inputfile + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  left: -2px;
  opacity: 0.8;
  transition: 0.25s ease-in;
}

.inputfile + label:hover {
  transform: translateY(-2px) rotate(-30deg);
}

.inputfile + label * {
	pointer-events: none;
}

.fileinput::-webkit-file-upload-button {
  visibility: hidden;
}

.chat-title-wrap{
  display:flex;
  justify-content: flex-start;
}

.chat-title{
  font-size: .9rem;
  font-weight: 500;
  position: relative;
  top: 3px;
  left: 7px;
}

.new-messages-badge{
  height: 20px;
  width: 20px;
  font-size: 10px;
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  flex:1;
  position: relative;
  top:1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.share {
  position: relative;
    width: 250px;
  margin: 40px 0;
  text-align: center;
  left:-100px;
}

/*preview*/

.preview{
  position: relative;
  top: -3px;
  display: flex;
  flex: 1;
}

.preview-content{
  padding-top: 10px; 
  padding-right: 30px; 
  overflow: auto;
}

/*Preview*/
.preview{
  position: relative;
  top: -3px;
  display: flex;
  flex: 1;
  background-color: rgb(53, 53, 73);
}

.preview-content{
  padding-top: 10px; 
  padding-right: 30px; 
  overflow: auto;
}

.close-preview{
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 55px;
  color: var(--bg-primary);
  opacity: 0.8;
  transition: 0.25 ease;
}

.close-preview:hover{
  opacity: 1;
  transform: translateY(-2px) ;
}

#file-preview{
  color: lightgray;
  position: absolute;
  left: 10px;
  bottom: 5px;
}

.file-preview{
  position: relative;
  left: 0px;
  top: -3px;
  margin-left: 6px;
}

.file-preview i{
  color : lightgray;
}

#name-file{
  color: lightgray;
  position: absolute;
  left: 35px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  width: 10rem;
}

.name-file{
  color: white;
  position: relative;
  margin-left: 7.5px;
  top: 5px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis; 
  white-space: nowrap;
  max-width: 10rem;
  transition: 0.25 ease;
  cursor: pointer;
}

.name-file:hover{
  text-decoration: underline;
}

.image-preview{
  height: 120px;
  position: relative;
  left: 15px; 
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.message-image{
  display: flex;
  height: 140px;
  position: relative; 
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.image-container img{
  max-height: 360px;
  height: 60vw;
  border-radius: 0.75rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wrap-div-message-image{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  margin: 0 auto;
  top: 50%;
  left: 50%;/*put in the center*/
  transform: translate(-50%, -50%);
  
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.image-container img{
  max-height: 360px;
  height: 60vw;
  border-radius: 0.75rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wrap-div-message-image{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.download-container{
  position: absolute;
  bottom: -17.5px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  opacity: 0.8;
  transition: 0.25 ease;
}

.download-container span{
  color: grey;
  margin-left: 10px;
}

.download-container:hover{
  opacity: 1;
}

.bottom-padding{
  padding-bottom: 6px;
}

.name-span{
  font-weight: 800;
  color: rgb(39, 39, 39);
}