#create-lecture-graphic {
    /* margin-top: -10px;       */
    width: 600px;
    /* height: auto; */
  }

  .survey-button {
    margin: 10px 10px 40px 10px;
  }

  .survey-button img{
    height: 20px;
    position: relative;
    top: 12px;
    filter: brightness(0%) invert(90%);
  }

  .infoBoard{
    background-color:#21212e;
    height: 500px;
    width: 50%;
    border-radius: 25px;
    box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  
  #stats-graph{
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
  }

  @media only screen and (max-width: 1000px) {
    .infoBoard{
      width: 80%;
      
    }
  }

  .infoText{
    color: white;
    float: left;
    font-size: 18px
  }
  
  .inputText{
    color: white;
    float: left;
    font-size: 18px
  }
  
  .inputBox{
    float: right;
    border-radius: 25px;
    margin-left: 10px;
    width: 60%;
    height: 30px;
    border-color: white;
    box-shadow: 0px 0px 0px 0px white;
    text-indent: 10px;
    font-size: 18px;
    outline: none;
  }
  
  
  #info{
    width: 80%;
  }
  
  .create-button{
    margin-bottom: 45px; 
  }
  
  
  .fixed-footer{
    /* margin-top: auto; */
    float: bottom;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 100vh;
    margin-top: -80px;
  }
  
  .tooltip {
    left: 12.5px;
    position: relative;
    top: 35.5px;
  }
  
  .tooltip > img{
    width: 25px;
  }
  
  .tooltip .tooltiptext {
    font-size: calc(3% + 0.75em);
    visibility: hidden;
    width: auto;
    min-width: 150px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 44px;
    right: -62px;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .create-lecture-inputs:last-child{
    margin-top:65px;
  }
  
  /* Responsive portion*/
  @media only screen and (max-height: 850px) {
    .centered {
        margin-top: 0px;
      }
  }

  .create-lecture-container{
    background-image: url(/liteboardLandingBGlight.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }


  @media only screen and (max-width: 599px) {
  
    .tooltip .tooltiptext {
      right: -5px;
    }
  
    .tooltip{
      left: -5px;
    }
    
    .tooltip .tooltiptext::after {
      left: 87.5%;
    }
  
    #create-lecture-graphic{
      width: 100%;
      height: auto;
    }
  
    #create-lecture-info{
      width: 90%;
      height: 180px;
    }
  
    #info{
      width: 90%;
    }
  
    .inputBox{
      width: 50%;
      left: -20px;
      position: relative;
    }
  
    .inputText{
      margin-left: 10px;
    }
  }

  .buttons{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  
  @media only screen and (max-width: 460px) {
    .create-lecture-inputs{
      display:flex;
      flex-direction: column;
      position: relative;
      text-align: left;
      padding-left: 15px;
      top: -6px;
    }
  
    #create-lectuire-info{
      margin-bottom: 0px !important;
    }
  
    .create-button{
      margin: 0 !important;
      position: relative;
      bottom: 25px;
    }
  
    .inputBox{
      width: 80%;
      margin: auto;
      position: relative;
      left: calc(-3% - 12px);
      top: 2px;
    }
  
    .tooltip{
      left: -22.5px;
      top: 47px;
    }
  
    .create-lecture-inputs:last-child{
      margin-top:20px;
    }
  }

  @media only screen and (max-width: 350px) {
    .create-lecture-container{
      display: none;
    }
  }

  .invalid-message{
    position: absolute;
    opacity: 0;
    transition: .6s ease;
    color: rgb(255, 95, 95);
    left: 155px;
    font-size: .9em;
    top: 37px;
  }

  .relative{
    position: relative;
  }

.graph {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
height: 400px;
display: flex;
flex-direction:row;
-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);

border-style: solid;
border-width: 3px;
border-left-width: 10px;
border-right-width: 10px;
border-color: red;
            
        
}

.myProgress {
  height: 350px;
  width: 30px;
  /* background-color: grey; */
}

.myBar {
  /* background-color: green; */
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(
    135deg,
    rgba(70, 194, 255, 1) 0%,
    rgba(189, 31, 250, 1) 100%
  );
  border: none;
  /* border-radius: 2px; */
  outline: none;
}
