.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-top: -40px;
  }

  .webcam {
      width: 70%;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      position: relative;
  }

  .classroom-info {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    border: none;
    color: white;
    background-color: #21212e;
    transition: width 600ms ease;
    overflow: hidden;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    font-size: 0.8rem;
    margin: 0;
  }

  .classroom-info-flexbox {
    /* display tob bar contents in a row */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* forces topbar text to stay in a single line */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  .lecture-running,
.end-lecture-container,
.mic-config-container,
.lecture-spectators,
.copy-link-container,
.test-mic-container,
.go-back,
.my-boards-button-container,
.view-chat-container,
.chat-button-container,
.hide-bar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.status-dot {
    color: #2ecc40;
}

@media only screen and (max-width: 800px) {
.lecture-running-text,
.spectators-count-text,
.end-lecture-text,
.mic-config-text,
.copy-link-text {
    display: none;
}
}

.divider {
    padding: 0rem 1rem 0rem 1rem;
  }

  .end-lecture-icon {
    font-size: 1.333em;
    position: relative;
    bottom: 1.7px;
    color: #ef5350;
  }

  .sharelink-info-icon {
    font-size: 1.25em;
    position: relative;
    bottom: 2px;
    color: #46c2ff;
    background: linear-gradient(to right, #bd11fa 0%, #46c2ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.chat-button-container,
.my-boards-button-container,
.end-lecture-container,
.mic-config-container,
.copy-link-container,
.test-mic-container,
.go-back {
  opacity: 0.8;
  transition: 0.4s ease;
  cursor: pointer;
}

.chat-button-container:hover,
.my-boards-button-container:hover,
.end-lecture-container:hover,
.mic-config-container:hover,
.copy-link-container:hover,
.test-mic-container:hover,
.go-back:hover {
  opacity: 1;
}

.lecture-running,
.end-lecture-container,
.mic-config-container,
.lecture-spectators,
.copy-link-container,
.test-mic-container,
.go-back,
.my-boards-button-container,
.view-chat-container,
.chat-button-container,
.hide-bar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.config-icon-top-menu{
    font-size: 17px;
    position: relative;
    right: 1px;
    top: -2px;
  }

  .lecture-running,
.end-lecture-container,
.mic-config-container,
.lecture-spectators,
.copy-link-container,
.test-mic-container,
.go-back,
.my-boards-button-container,
.view-chat-container,
.chat-button-container,
.hide-bar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}


.show-bar-button,
.hide-bar-button {
  text-decoration: none;
  color: white;
  background: rgb(70, 194, 255);
  background: linear-gradient(135deg, #b10dc9 0%, #85144b 100%);
  opacity: 0.85;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.show-bar-button:hover,
.hide-bar-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 1;
  transform: translateY(-1.5px);
}

.chat {
  width: 350px;
  overflow: hidden;
  border-radius: 0px 10px 10px 0;
}

.active-menu-item, .active-menu-item-button {
  background-color: rgb(47, 47, 65);
}

.content {
    width: 90%;
    height: auto;
    display: flex;
        /* remove this when you add the chat */
    /* background-color: white; */
}

@media only screen and (max-width: 1080px) {
  .content {
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    width: 80%;
  }

  .centered{
    margin-top: -50px;
  }

  .chat {
    height: 300px;
    width: 100%;

    margin-right: auto;
    margin-left: auto;
    }

    .webcam {
      width: 100%;

      margin-right: auto;
      margin-left: auto;

  }
}


.top-logo-bar{
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
}

.top-logo-bar a{
  padding: 5px 10px;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px .5px rgba(0,0,0,0.75);
  text-decoration: none;
}

.top-logo-bar img{
  height: 30px;
  position: relative;
  top:2px;
}

.titleBoard{
  width: auto;
  position: relative;
  background-color:#21212e;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  margin: 20px 40px 0px 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}


.title-triangle{
  position: absolute;
  height: 62px;
  bottom:-20px;
  z-index:1;
  right: -25px;
}

.title {
  font-size: 30px;
  color: white;
  font-family: "Muli", sans-serif, "Open Sans";
}

.title-circle{
  position: absolute;
  top:-20px;
  z-index:1;
  height: 70px;
  left: -25px;
}

.lecture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Start of the Chat*/

/*send container*/

#send-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 35px;
  top: -3px;
  flex: 1;
}

#message-input {
  height: 30px;
  position: relative;
  left: -3px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(83, 83, 83);
  padding: 4px 9px; 
  width: 75%;
  outline: none;
  background-color: rgb(53, 53, 73);
  color: lightgray;
}

.paperclip,
.send-icon,
.close-preview{
  color: rgb(94, 94, 94)!important;
}

#send-button {
  width: 21px;
  height: 21px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  background-color: rgb(158, 158, 158);
  transition: 0.25s;
  cursor: pointer;
  border: 1px solid rgb(158, 158, 158);
}

#send-button:hover{
  transform: translateY(-2px);
}

#send-button i{
  position: relative;
  left: 1px;
}

#send-wrapper{
  display: flex;
}

#file-input{
  display: none;
}

.inputfile + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  left: -2px;
  opacity: 0.8;
  transition: 0.25s ease-in;
}

.inputfile + label:hover {
  transform: translateY(-2px) rotate(-30deg);
}

.inputfile + label * {
	pointer-events: none;
}

.fileinput::-webkit-file-upload-button {
  visibility: hidden;
}

.messages-main {
  position: relative;
  height: calc(100% - 32px);
  overflow: hidden;
  display: flex;
}

div.message-container {
  max-height: calc(290px - 60px);
}

.message-container {
  position: absolute;
  max-height: calc(350px - 10px);
  bottom: 0;
  overflow-y: auto;
  word-wrap: break-word;
  margin: auto -3px;
  width: 100%;
}

.minimize-chat-view:first-child {
  padding-left: 10px;
  color: white;
}

.minimize-chat-view {
  display: flex;
  position: absolute;
  background: rgb(47, 47, 65);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
  height: 25px;
  top: 0px;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  transition: 0.4s ease;
}

#minimize-chat-view:hover {
  opacity: 1;
}

#minimize-chat-view {
  display: flex;
  background: lightgray;
  width: 25px;
  height: 25px;
  color: rgb(47, 47, 65);
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  opacity: 0.75;
  transition: 0.4s ease;
}

.message-lecture-name {
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  color: white;
  transition: 0.8s ease-in-out;
}

/*Messages*/
.in {
  padding: 6px;
  border: none;
  background: rgba(70, 194, 255, 0.9);
  width: auto;
  color: rgba(33,33,46, 1);
}

.message-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6px;
  border: none;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 0.25em;
  max-width: 238px;
  overflow: auto;
  transition: 0.4s ease;
}

.out {
  background: rgb(255, 255, 255);
  width: auto;
  color: rgba(33,33,46, 1);
}

.incoming-message {
  margin-bottom: 8px;
}