REDIS_HOST=127.0.0.1
REDIS_PORT=6379
EXPRESS_PORT=8080
NODE_ENV=DEVELOPMENT
PT_HOST=logs6.papertrailapp.com
PT_PORT=29341
WEB_SERVER_PORT_HTTP=80 
WEB_SERVER_PORT_HTTPS=443
REDIS_PASSWORD=password
REDIS_URL=redis://password@redis_db:6379
REDIS_TEST=true
EMAIL=testing123@gmail.com
EMAIL_PASSWORD=test123
EMAIL_SERVICE=Gmail
LOGGER=false 
SESSION_SECRET=secret
SESSION_NAME=session


# turn server configs

#for testing set this to false, unless you want to do turn server configs, usually doesn't lead to desired results locally
TURN_SERVER_ACTIVE=true 

TURN_SERVER_ENDPOINT=onlyforproduction

#from docker-compose file
TURN_SERVER_PORT=3478  

# default is north, specified in turn.conf
TURN_SERVER_SECRET=north

#only change if you want to change which db redis is storing turn creds
REDIS_TURN_DB_NUMBER=0


TURN_SERVER_URL=onlyforproduction

